name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: List Files
        run: ls -la

      - name: Build Step
        run: echo "Build Successful"

      - name: Pipeline Completed
        run: echo "CI/CD Pipeline Executed Successfully"

      - name: Send Slack Notification
        if: always()
        run: |
          curl -X POST -H 'Content-type: application/json' \
          --data '{"text":"GitHub Actions Build Completed for devops-webapp!"}' \
          ${{ secrets.SLACK_WEBHOOK_URL }}
